[submodule "components/libopencm3"]
	path = components/libopencm3
	url = https://github.com/libopencm3/libopencm3.git
[submodule "components/generic_embedded_libs"]
	path = components/generic_embedded_libs
	url = https://github.com/Maldus512/generic_embedded_libs.git
